body {
  background-image: url("bg.jpg");
}
h1{
  text-align:center;
  color:#4c2db1;
  font-family:Verdana;
}
   
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.centrado {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
	
  /*IMPORTANTE*/
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: ;
  font-weight: bold;
  color:#d80d56;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
